Source: spvd
Section: misc
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Nicolas Noirbent <nicolas.noirbent@smartjog.com>, Gilles Dartiguelongue <gilles.dartiguelongue@smartjog.com>, Rémi Cardona <remi.cardona@smartjog.com>, Clément Bœsch <clement.boesch@smartjog.com>, Laurent Defert <laurent.defert@smartjog.com>
Build-Depends: debhelper (>= 8), cdbs, python-central (>= 0.6), txt2tags
XS-Python-Version: >= 2.6
Standards-Version: 3.9.1

Package: spvd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, importer (>=0.5), python-sjutils (>=1.18.0)
Suggests: python-psycopg2
Breaks: spvd-collect (<< 0.3.0), spvd-delivery (<< 0.6.0), spvd-events (<< 0.5.0), spvd-smartdamstreaming (<< 0.2.0), spvd-streams (<< 0.5.0)
XB-Python-Version: ${python:Versions}
Description: SmartJog core supervision
 Provides the daemon for SmartJog's core supervision.

Package: sjconf-spvd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, sjconf1 (>= 1.3), spvd (>= ${source:Version})
Description: SJConf plugin for spvd
 This package provides a SJConf plugin to handle spvd configuration.
