Source: spvd
Section: misc
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Nicolas Noirbent <nicolas.noirbent@smartjog.com>, Gilles Dartiguelongue <gilles.dartiguelongue@smartjog.com>, Rémi Cardona <remi.cardona@smartjog.com>
Build-Depends: debhelper (>= 5.0.38), cdbs, python-central (>= 0.6), txt2tags
XS-Python-Version: >= 2.5
Standards-Version: 3.8.4

Package: spvd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, importer (>=0.2.5), python-sjutils (>=1.18.0)
Suggests: python-psycopg2
Breaks: spvd-collect (<< 0.3.0), spvd-delivery (<< 0.6.0), spvd-events (<< 0.5.0), spvd-smartdamstreaming (<< 0.2.0), spvd-streams (<< 0.5.0)
XB-Python-Version: ${python:Versions}
Description: SmartJog core supervision
 Provides the daemon for SmartJog's core supervision.
