#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_DESTDIR := $(CURDIR)/debian/tmp

PYTHON_PACKAGES := spvd

$(patsubst %,binary-install/%,$(PYTHON_PACKAGES)) ::
	dh_pycentral -p$(cdbs_curpkg)
